.counter{
    background-color: steelblue;
   min-height: 736px; 
    width: 100%;
    color: aliceblue;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter_count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
.buttons{
    margin-top: 10%;
}
.counter_button{
    margin: 5vh;
    height: 8vh;
    width: 20vh;
    border-radius: 20%;
    font-size: medium;
    color: steelblue;
    border: none;
}
.counter_button:hover{
    background-color: rgb(2, 20, 34);
}
.counter_name{
    font-size: 10vh;
}
